@import "../../../styles/variables";

.sidenav-container {
  height: 100%;

  .sidenav {
    width: 200px;

    .mat-toolbar {
      background: inherit;
      &.mat-primary {
        position: sticky;
        top: 0;
        z-index: 1;
      }
    }
  }
}
.ea-body{
  -ms-transform: translateY(64px);
}
.ea-toolbar {
  color: $ea-white;   
  position: fixed;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
  h1.app-name {
    margin: 0 1em;
  }

  .logo {
    margin-left: auto;   
    margin-right: 0px;
    height: 1.8em;
    margin-top: 0.3em;
  }
}
