$ea-cg-blue: #0070ad;
$ea-vibrant-blue: #12b3db;
$ea-deep-purple: #2b0a3b;
$ea-tech-red: #ff304c;
$ea-zest-green: #95e616;
$ea-white: #ffffff;
$ea-grey: #ececec;
$ea-light-grey: #f8f8f8;

$ea-card-border: 10px;

$ea-toolbar-height: 64px;
$ea-toolbar-height-mobile: 56px;
