<ul>
  <li (click)="askIfSummitToBeSetAsDefault(archPnq)">
    <mat-card matRipple class="summit-card">
      <mat-card-header>
        <svg viewBox="0 0 225 150" mat-card-avatar><rect width="225" height="150" fill="#f93"/><rect width="225" height="50" y="50" fill="#fff"/><rect width="225" height="50" y="100" fill="#128807"/><g transform="translate(112.5,75)"><circle r="20" fill="#008"/><circle r="17.5" fill="#fff"/><circle r="3.5" fill="#008"/><g id="d"><g id="c"><g id="b"><g id="a"><circle r="0.875" fill="#008" transform="rotate(7.5) translate(17.5)"/><path fill="#008" d="M 0,17.5 0.6,7 C 0.6,7 0,2 0,2 0,2 -0.6,7 -0.6,7 L 0,17.5 z"/></g><use xlink:href="#a" transform="rotate(15)"/></g><use xlink:href="#b" transform="rotate(30)"/></g><use xlink:href="#c" transform="rotate(60)"/></g><use xlink:href="#d" transform="rotate(120)"/><use xlink:href="#d" transform="rotate(-120)"/></g></svg>
        <mat-card-title>Architects' Summit</mat-card-title>
        <mat-card-subtitle>Pune</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </li>
  <li (click)="askIfSummitToBeSetAsDefault(archWro)">
    <mat-card matRipple class="summit-card">
      <mat-card-header>
        <svg viewBox="0 0 16 10" mat-card-avatar><rect width="16" height="10" fill="#fff"/><rect width="16" height="5" fill="#dc143c" y="5"/></svg>
        <mat-card-title>Architects' Summit</mat-card-title>
        <mat-card-subtitle>Wrocław</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </li>
  <li (click)="askIfSummitToBeSetAsDefault(emFra)">
    <mat-card matRipple class="summit-card">
      <mat-card-header>
        <svg viewBox="0 0 5 3" mat-card-avatar><rect id="black_stripe" width="5" height="3" y="0" x="0" fill="#000"/><rect id="red_stripe" width="5" height="2" y="1" x="0" fill="#D00"/><rect id="gold_stripe" width="5" height="1" y="2" x="0" fill="#FFCE00"/></svg>
        <mat-card-title>EMs' Summit</mat-card-title>
        <mat-card-subtitle>Frankfurt</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </li>
  <li (click)="askIfSummitToBeSetAsDefault(emPnq)">
    <mat-card matRipple class="summit-card">
      <mat-card-header>
        <svg viewBox="0 0 225 150" mat-card-avatar><rect width="225" height="150" fill="#f93"/><rect width="225" height="50" y="50" fill="#fff"/><rect width="225" height="50" y="100" fill="#128807"/><g transform="translate(112.5,75)"><circle r="20" fill="#008"/><circle r="17.5" fill="#fff"/><circle r="3.5" fill="#008"/><g id="d"><g id="c"><g id="b"><g id="a"><circle r="0.875" fill="#008" transform="rotate(7.5) translate(17.5)"/><path fill="#008" d="M 0,17.5 0.6,7 C 0.6,7 0,2 0,2 0,2 -0.6,7 -0.6,7 L 0,17.5 z"/></g><use xlink:href="#a" transform="rotate(15)"/></g><use xlink:href="#b" transform="rotate(30)"/></g><use xlink:href="#c" transform="rotate(60)"/></g><use xlink:href="#d" transform="rotate(120)"/><use xlink:href="#d" transform="rotate(-120)"/></g></svg>
        <mat-card-title>EMs' Summit</mat-card-title>
        <mat-card-subtitle>Pune</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </li>
</ul>



